<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/register" method="POST">
        <input type="text" name="username" id="username" placeholder="Nom d'utilisateur">
        <input type="email" name="email" id="email" placeholder="Adresse e-mail">
        <input type="password" name="password" id="password" placeholder="Mot de passe">
        <select name="role" id="role">
            <option value="admin">Administrateur</option>
            <option value="moderateur">Modérateur</option>
            <option value="user">Utilisateur</option>
        </select>
        <input type="submit" value="Register">
    </form>
</body>
</html>